@tailwind base;
@tailwind components;
@tailwind utilities;


/* datatable */

#DataTables_Table_0_filter input {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-color: gray;
}

.data-table td{
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    table-layout: auto;
    white-space: nowrap;
}
#DataTables_Table_0 tbody tr:hover > td {
    background-color: rgb(215, 215, 215);
}
#DataTables_Table_0_filter label {
    border-color: gray;
    display: flex;
    justify-content: right;
}
.dark .data-table td{
        background-color: rgb(31 41 55);
        color:rgb(156 163 175);
        table-layout: auto;
        white-space: nowrap;
    }
.dark #DataTables_Table_0 tbody tr:hover > td {
        background-color: rgb(75 85 99);
    }
.dark #DataTables_Table_0_filter{
        color: rgb(156 163 175);
        display: flex;
        justify-content: right;
        white-space: nowrap ;
    }
.dark #DataTables_Table_0_filter input {
        background-color: rgb(55 65 81);
        color: rgb(156 163 175);
        border-color: gray;
    }
.dark #DataTables_Table_0_filter label {
        border-color: gray;
        display: flex;
        justify-content: right;
    }

.table .data-table {
    margin-top: 50px;
}
.dataTables_filter{
    margin-bottom: 20px;
    margin-top: 30px;
    
}

@media (max-width: 376px) {

    #DataTables_Table_0_filter{
        width: 100%;
    }
    #DataTables_Table_0_filter input {
        width: 100%;
    }
    #DataTables_Table_0_filter label {
        width: 100%;
    }
}

/* Floating Button */
.btn-floating {
    position: fixed;
    right: 25px;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: 0;
    z-index: 9999;
    color: white;
    transition: .2s;
}
.btn-floating:hover {
    width: auto;
    padding: 0 20px;
    cursor: pointer;
}
.btn-floating span {
    font-size: 16px;
    margin-left: 5px;
    transition: .2s;
    line-height: 0px;
    display: none;
}
.btn-floating:hover span {
    display: inline-block;
}
.btn-floating.whatsapp {
    bottom: 25px;
    background-color: #34af23;
    border: 2px solid #fff;
}
.btn-floating.whatsapp:hover {
    background-color: #1f7a12;
}

/* Typewritter on 'Welcome' */
.home {
    display: flex;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: "ubuntu", sans-serif;
}
.home .max-width {
    margin: auto 0 auto 30px;
}
.home .home-content .text-1 {
    font-size: 27px;
}
.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin: -18px 0px -25px 6px;
}
.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span {
    color: crimson;
    font-weight: 500;
}
.home .home-content a {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    padding: 10px 15px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.home .home-content a:hover {
    color: crimson;
    background: none;
}
.home .home-content a.btn {
    width: 30px;
    height: 30px;
    line-height: 20px;
}
@media (max-width:800px) {
.home .home-content .text-1 {
    font-size: 13.5px;
    margin-bottom: 5px;
}
.home .home-content .text-2 {
    font-size: 37.5px;
    font-weight: 600;
    /* margin: -18px 0px -25px 6px; */
    margin-bottom:-15px;
}
.home .home-content .text-3 {
    font-size: 20px;
    margin: 5px 0;
}
.home .home-content .text-3 span {
    color: crimson;
    font-weight: 250;
}
.home .home-content a:hover {
    color: crimson;
    background: none;
}
.home .home-content a.btn {
    width: 20px;
    height: 30px;
    line-height: 20px;
}
.home .home-content a {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 12.5px;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
}



@media (min-width:640px){
        .dark nav{
            background: rgba(0, 0, 0, 0);
            /* overflow: hidden; */
            transition: 0.5s;
        }
        .dark nav.gray{
            background-color: rgba(31, 41, 55, 0.85);
            backdrop-filter: blur(10px);;
        }
}

@media (max-width:639px) {
    .dark nav{
        position: fixed;
            width: 100%;
            background: rgb(31, 41, 55);
            /* overflow: hidden; */
            transition: 0.5s;
    }
    .dark nav.gray{
        background-color: rgb(31, 41, 55);
    }
}

.bg-moon{
    background: no-repeat;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1366' height='768' preserveAspectRatio='none' viewBox='0 0 1366 768'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1327%26quot%3b)' fill='none'%3e%3crect width='1366' height='768' x='0' y='0' fill='transparent'%3e%3c/rect%3e%3ccircle r='21.71' cx='640.87' cy='446.75' fill='url(%26quot%3b%23SvgjsLinearGradient1328%26quot%3b)'%3e%3c/circle%3e%3ccircle r='30.57' cx='391.21' cy='685.61' fill='rgba(42%2c 50%2c 64%2c 1)'%3e%3c/circle%3e%3ccircle r='53.31' cx='1339.74' cy='747.58' fill='rgba(42%2c 50%2c 64%2c 1)'%3e%3c/circle%3e%3ccircle r='39.035' cx='139.02' cy='509.48' fill='rgba(42%2c 50%2c 64%2c 1)'%3e%3c/circle%3e%3ccircle r='68.46' cx='561.2' cy='670.83' fill='url(%26quot%3b%23SvgjsLinearGradient1329%26quot%3b)'%3e%3c/circle%3e%3ccircle r='75.745' cx='1048.14' cy='79.38' fill='url(%26quot%3b%23SvgjsLinearGradient1330%26quot%3b)'%3e%3c/circle%3e%3ccircle r='75.765' cx='1176.79' cy='257.7' fill='url(%26quot%3b%23SvgjsLinearGradient1331%26quot%3b)'%3e%3c/circle%3e%3ccircle r='61.285' cx='931.74' cy='270.08' fill='url(%26quot%3b%23SvgjsLinearGradient1332%26quot%3b)'%3e%3c/circle%3e%3ccircle r='71.88' cx='826.77' cy='418.44' fill='url(%26quot%3b%23SvgjsLinearGradient1333%26quot%3b)'%3e%3c/circle%3e%3ccircle r='27.375' cx='777.15' cy='244.94' fill='url(%26quot%3b%23SvgjsLinearGradient1334%26quot%3b)'%3e%3c/circle%3e%3ccircle r='71.315' cx='941.24' cy='650.66' fill='rgba(42%2c 50%2c 64%2c 1)'%3e%3c/circle%3e%3ccircle r='27.96' cx='716.63' cy='350.91' fill='url(%26quot%3b%23SvgjsLinearGradient1335%26quot%3b)'%3e%3c/circle%3e%3ccircle r='28.625' cx='1130.33' cy='255.54' fill='url(%26quot%3b%23SvgjsLinearGradient1336%26quot%3b)'%3e%3c/circle%3e%3ccircle r='38.395' cx='132.5' cy='603.73' fill='url(%26quot%3b%23SvgjsLinearGradient1337%26quot%3b)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1327'%3e%3crect width='1366' height='768' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='597.45' y1='446.75' x2='684.2900000000001' y2='446.75' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1328'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(107%2c 116%2c 132%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='424.2800000000001' y1='670.83' x2='698.1200000000001' y2='670.83' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1329'%3e%3cstop stop-color='rgba(226%2c 152%2c 222%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(71%2c 83%2c 102%2c 1)' offset='0.47'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='896.6500000000001' y1='79.38' x2='1199.63' y2='79.38' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1330'%3e%3cstop stop-color='rgba(226%2c 152%2c 222%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(71%2c 83%2c 102%2c 1)' offset='0.47'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1025.26' y1='257.7' x2='1328.32' y2='257.7' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1331'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(107%2c 116%2c 132%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='809.1700000000001' y1='270.08' x2='1054.31' y2='270.08' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1332'%3e%3cstop stop-color='rgba(226%2c 152%2c 222%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(71%2c 83%2c 102%2c 1)' offset='0.47'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='683.01' y1='418.44' x2='970.53' y2='418.44' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1333'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(107%2c 116%2c 132%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='722.4' y1='244.94' x2='831.9' y2='244.94' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1334'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(107%2c 116%2c 132%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='660.71' y1='350.91' x2='772.5500000000001' y2='350.91' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1335'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(107%2c 116%2c 132%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1073.08' y1='255.54' x2='1187.58' y2='255.54' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1336'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(107%2c 116%2c 132%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='55.709999999999994' y1='603.73' x2='209.29000000000002' y2='603.73' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1337'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(107%2c 116%2c 132%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}


.dashItem{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='224' height='88' preserveAspectRatio='none' viewBox='0 0 224 88'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1040%26quot%3b)' fill='none'%3e%3crect width='224' height='88' x='0' y='0' %3e%3c/rect%3e%3ccircle r='14.665' cx='-12.88' cy='14.39' stroke='white' stroke-opacity='0.03' stroke-width='2'%3e%3c/circle%3e%3ccircle r='14.665' cx='57.35' cy='48.02' stroke='white' stroke-opacity='0.03' stroke-width='2'%3e%3c/circle%3e%3ccircle r='14.665' cx='108.16' cy='107.23' stroke='white' stroke-opacity='0.03' stroke-width='2'%3e%3c/circle%3e%3ccircle r='9.94' cx='201.97' cy='23.87' stroke='white' stroke-opacity='0.03' stroke-width='2'%3e%3c/circle%3e%3ccircle r='8.53' cx='15.68' cy='57.33' stroke='white' stroke-opacity='0.03' stroke-width='2'%3e%3c/circle%3e%3ccircle r='17.29' cx='24.92' cy='74.63' stroke='white' stroke-opacity='0.03' stroke-width='2'%3e%3c/circle%3e%3ccircle r='23.525' cx='212.47' cy='55.3' stroke='white' stroke-opacity='0.03' stroke-width='2'%3e%3c/circle%3e%3ccircle r='24.99' cx='147.92' cy='13.77' stroke='white' stroke-opacity='0.03' stroke-width='2'%3e%3c/circle%3e%3ccircle r='10.705' cx='100.5' cy='46.84' stroke='white' stroke-opacity='0.03' stroke-width='2'%3e%3c/circle%3e%3ccircle r='24.8' cx='62.32' cy='1.17' stroke='white' stroke-opacity='0.03' stroke-width='2'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1040'%3e%3crect width='224' height='88' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
}

.logo{
    width: 192px;
    height: 34px;
    background-size: cover;
    background: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.0' width='192' height='34' viewBox='0 0 1035 90'%3E%3Cpath d='M72.3 8.2C70.6 10.4 46 51.8 46 52.4c0 .3 1.9.6 4.3.6 4.1 0 4.3-.2 7.5-6l3.3-6h27.5l3.5 6 3.4 6h4.9c4.8 0 4.8 0 3.4-2.3-.8-1.2-6.6-10.8-12.8-21.2C84.8 19 79 9.7 78.2 8.7c-1.8-2-4.5-2.2-5.9-.5zm7.9 18.6 4.7 7.7-5 .3c-2.7.2-7.1.2-9.8 0l-4.9-.3 4.5-7.8c2.5-4.2 4.8-7.7 5.1-7.7.4 0 2.8 3.5 5.4 7.8zm103.5-16.1C177.1 21.3 159 51.9 159 52.4c0 .4 1.9.6 4.2.4 4-.3 4.4-.6 7.6-6.1l3.4-5.7h27.4l3.5 6 3.4 6h4.9c4.8 0 4.8 0 3.4-2.3-.8-1.2-6.6-10.8-12.8-21.2-6.2-10.5-12-19.8-12.8-20.8-2.4-2.7-5-2-7.5 2zm9.5 16.1 4.7 7.7-5 .3c-2.7.2-7.1.2-9.8 0l-4.9-.3 4.5-7.8c2.5-4.2 4.8-7.7 5.1-7.7.4 0 2.8 3.5 5.4 7.8zM37 21.9c0 7.7-.4 15.1-1 16.5-1.8 4.8-5.3 6.1-18.2 6.5L6 45.2v8l12.8-.4c14.9-.5 18.9-1.9 23-8.1 2.6-3.9 2.7-4.6 3-20.4L45.2 8H37v13.9zm79.3-12.3c-6.2 3.1-8.3 9.3-5.5 15.8 2.9 6.5 6.1 7.6 22.9 7.6 12.3 0 14.2.2 15.6 1.8 2.4 2.6 2.1 6.8-.5 8.6-1.8 1.3-5.6 1.6-20.5 1.6H110v8h19.1c21.1 0 24.1-.7 27.2-5.9 2.3-4 2.2-11.8-.3-15.8-2.6-4.3-6.7-5.3-22.5-5.3-8.9 0-13.5-.4-14.3-1.2-1.9-1.9-1.5-6.6.7-7.8 1.2-.6 9.2-1 19-1H156V8h-18.2c-14.6 0-18.9.4-21.5 1.6zm93 6.1c20.4 38 20.3 37.8 23.3 37.8 2.5 0 3.3-.9 6.9-7.3 4.5-8.2 4.3-8.2 9.3 1.6 2.9 5.7 6.2 7.6 8.8 5.1.7-.8 4.1-6.6 7.5-12.9 3.4-6.3 8.6-16.1 11.6-21.8L282.2 8h-8.8l-9 17c-4.9 9.4-9.1 17-9.4 17-.3 0-4.4-7.7-9-17l-8.5-17h-9.7l6 11.3 6 11.3-3.2 5.7c-1.7 3.1-3.3 5.7-3.6 5.7-.3 0-4.5-7.7-9.5-17l-9-17h-9.4l4.2 7.7zM287 30.5V53h40v-8h-32V33h31v-7h-31V16h32V8h-40v22.5zm47 0V53h18.5c20.9 0 24.1-.7 27.5-6.2 3.3-5.5 1.9-15.5-2.4-17.1-1.2-.5-.9-1.2 1.4-3.6 5.3-5.3 3.3-13.6-4-16.5-3.2-1.3-7.8-1.6-22.5-1.6H334v22.5zm37-13.2c2.7 1.3 3.6 4.3 2 6.7-.7 1.2-3.8 1.6-13.2 2l-12.3.5v6l12.1.5c12.8.5 15.4 1.4 15.4 5.4-.1 5.4-3.8 6.6-20.1 6.6H342V16h13.3c8.6 0 14.1.5 15.7 1.3zm25.4-7.9c-10 4.4-9.9 18 .2 22.2 2.3 1 7.6 1.4 16.7 1.4 14.7 0 16.7.7 16.7 6.3 0 5-2.6 5.7-22.2 5.7H390v8h18.5c20.1 0 24-.8 26.9-5.2 2.6-3.9 3-10.8.9-14.8-3-5.8-6.8-7-22.1-7-14.2 0-17.2-.8-17.2-4.3 0-5 .7-5.2 20.2-5.7l18.3-.5.3-3.8.3-3.7h-18.3c-13 .1-19.2.5-21.4 1.4zM445 30.5V53h8V8h-8v22.5zM458 12v4h17v37h8V16h17V8h-42v4zm47.4-2.7c-.2.7-.3 10.7-.2 22.2l.3 21 20.3.3 20.2.2v-8l-16.2-.2-16.3-.3-.3-5.8-.3-5.7H544v-7h-31.1l.3-4.8.3-4.7 16.3-.3L546 16V8h-20c-15.4 0-20.2.3-20.6 1.3z'/%3E%3Cpath fill='%23FFB200' d='M569 30.6v22.5l20.5-.3 20.5-.3 3.7-3.7c3.3-3.4 3.7-4.3 3.7-9.2.1-4.7-.3-5.9-2.8-8.4-2.7-2.9-2.8-3-.8-4.1 1.1-.6 2.6-2.7 3.2-4.6 1-3 .9-4.1-.7-7.3-3.2-6.5-6-7.2-28-7.2H569v22.6zM606.4 17c2 .7 2.6 1.7 2.6 3.8 0 4.7-1.4 5.2-14.2 5.2H583v7h11.9c13.5 0 15.4.8 14.9 6.4-.5 4.7-3.3 5.6-19 5.6H577V16h13.4c7.4 0 14.6.4 16 1zM625 30.5V53h8V8h-8v22.5zm15.2-18.8.3 3.8 15 .3 15.1.2-15.3 15.2C643.1 43.3 640 47 640 49.1c0 1.5.7 2.9 1.6 3.3.9.3 10.8.6 22 .6H684v-8h-15.7l-15.8-.1 15.8-15.3c22-21.5 22-21.6-7.6-21.6h-20.8l.3 3.7zm-85.8 36.8c-.7 2.9 1 5.5 3.6 5.5 2.4 0 4.2-2.4 3.8-5.2-.2-1.8-1-2.4-3.5-2.6-2.8-.3-3.3.1-3.9 2.3z'/%3E%3C/svg%3E");
}

  
  .dark .logo{
    width: 192px;
    height: 34px;
    background-size: cover;
    background: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='34' fill='rgb(255, 255, 255)' version='1.0' viewBox='0 0 1035 90'%3E%3Cpath d='M72.3 8.2C70.6 10.4 46 51.8 46 52.4c0 .3 1.9.6 4.3.6 4.1 0 4.3-.2 7.5-6l3.3-6h27.5l3.5 6 3.4 6h4.9c4.8 0 4.8 0 3.4-2.3-.8-1.2-6.6-10.8-12.8-21.2C84.8 19 79 9.7 78.2 8.7c-1.8-2-4.5-2.2-5.9-.5zm7.9 18.6 4.7 7.7-5 .3c-2.7.2-7.1.2-9.8 0l-4.9-.3 4.5-7.8c2.5-4.2 4.8-7.7 5.1-7.7.4 0 2.8 3.5 5.4 7.8zm103.5-16.1C177.1 21.3 159 51.9 159 52.4c0 .4 1.9.6 4.2.4 4-.3 4.4-.6 7.6-6.1l3.4-5.7h27.4l3.5 6 3.4 6h4.9c4.8 0 4.8 0 3.4-2.3-.8-1.2-6.6-10.8-12.8-21.2-6.2-10.5-12-19.8-12.8-20.8-2.4-2.7-5-2-7.5 2zm9.5 16.1 4.7 7.7-5 .3c-2.7.2-7.1.2-9.8 0l-4.9-.3 4.5-7.8c2.5-4.2 4.8-7.7 5.1-7.7.4 0 2.8 3.5 5.4 7.8zM37 21.9c0 7.7-.4 15.1-1 16.5-1.8 4.8-5.3 6.1-18.2 6.5L6 45.2v8l12.8-.4c14.9-.5 18.9-1.9 23-8.1 2.6-3.9 2.7-4.6 3-20.4L45.2 8H37v13.9zm79.3-12.3c-6.2 3.1-8.3 9.3-5.5 15.8 2.9 6.5 6.1 7.6 22.9 7.6 12.3 0 14.2.2 15.6 1.8 2.4 2.6 2.1 6.8-.5 8.6-1.8 1.3-5.6 1.6-20.5 1.6H110v8h19.1c21.1 0 24.1-.7 27.2-5.9 2.3-4 2.2-11.8-.3-15.8-2.6-4.3-6.7-5.3-22.5-5.3-8.9 0-13.5-.4-14.3-1.2-1.9-1.9-1.5-6.6.7-7.8 1.2-.6 9.2-1 19-1H156V8h-18.2c-14.6 0-18.9.4-21.5 1.6zm93 6.1c20.4 38 20.3 37.8 23.3 37.8 2.5 0 3.3-.9 6.9-7.3 4.5-8.2 4.3-8.2 9.3 1.6 2.9 5.7 6.2 7.6 8.8 5.1.7-.8 4.1-6.6 7.5-12.9 3.4-6.3 8.6-16.1 11.6-21.8L282.2 8h-8.8l-9 17c-4.9 9.4-9.1 17-9.4 17-.3 0-4.4-7.7-9-17l-8.5-17h-9.7l6 11.3 6 11.3-3.2 5.7c-1.7 3.1-3.3 5.7-3.6 5.7-.3 0-4.5-7.7-9.5-17l-9-17h-9.4l4.2 7.7zM287 30.5V53h40v-8h-32V33h31v-7h-31V16h32V8h-40v22.5zm47 0V53h18.5c20.9 0 24.1-.7 27.5-6.2 3.3-5.5 1.9-15.5-2.4-17.1-1.2-.5-.9-1.2 1.4-3.6 5.3-5.3 3.3-13.6-4-16.5-3.2-1.3-7.8-1.6-22.5-1.6H334v22.5zm37-13.2c2.7 1.3 3.6 4.3 2 6.7-.7 1.2-3.8 1.6-13.2 2l-12.3.5v6l12.1.5c12.8.5 15.4 1.4 15.4 5.4-.1 5.4-3.8 6.6-20.1 6.6H342V16h13.3c8.6 0 14.1.5 15.7 1.3zm25.4-7.9c-10 4.4-9.9 18 .2 22.2 2.3 1 7.6 1.4 16.7 1.4 14.7 0 16.7.7 16.7 6.3 0 5-2.6 5.7-22.2 5.7H390v8h18.5c20.1 0 24-.8 26.9-5.2 2.6-3.9 3-10.8.9-14.8-3-5.8-6.8-7-22.1-7-14.2 0-17.2-.8-17.2-4.3 0-5 .7-5.2 20.2-5.7l18.3-.5.3-3.8.3-3.7h-18.3c-13 .1-19.2.5-21.4 1.4zM445 30.5V53h8V8h-8v22.5zM458 12v4h17v37h8V16h17V8h-42v4zm47.4-2.7c-.2.7-.3 10.7-.2 22.2l.3 21 20.3.3 20.2.2v-8l-16.2-.2-16.3-.3-.3-5.8-.3-5.7H544v-7h-31.1l.3-4.8.3-4.7 16.3-.3L546 16V8h-20c-15.4 0-20.2.3-20.6 1.3z'/%3E%3Cpath fill='%23FFB200' d='M569 30.6v22.5l20.5-.3 20.5-.3 3.7-3.7c3.3-3.4 3.7-4.3 3.7-9.2.1-4.7-.3-5.9-2.8-8.4-2.7-2.9-2.8-3-.8-4.1 1.1-.6 2.6-2.7 3.2-4.6 1-3 .9-4.1-.7-7.3-3.2-6.5-6-7.2-28-7.2H569v22.6zM606.4 17c2 .7 2.6 1.7 2.6 3.8 0 4.7-1.4 5.2-14.2 5.2H583v7h11.9c13.5 0 15.4.8 14.9 6.4-.5 4.7-3.3 5.6-19 5.6H577V16h13.4c7.4 0 14.6.4 16 1zM625 30.5V53h8V8h-8v22.5zm15.2-18.8.3 3.8 15 .3 15.1.2-15.3 15.2C643.1 43.3 640 47 640 49.1c0 1.5.7 2.9 1.6 3.3.9.3 10.8.6 22 .6H684v-8h-15.7l-15.8-.1 15.8-15.3c22-21.5 22-21.6-7.6-21.6h-20.8l.3 3.7zm-85.8 36.8c-.7 2.9 1 5.5 3.6 5.5 2.4 0 4.2-2.4 3.8-5.2-.2-1.8-1-2.4-3.5-2.6-2.8-.3-3.3.1-3.9 2.3z'/%3E%3C/svg%3E");

  }